body {
  max-width: 90%;
}
body nav {
  margin-left: 30px;
  position: relative;
  z-index: 1;
}
body nav ul {
  display: inline-block;
  padding: 0;
}
body nav ul li {
  text-align: left;
}
body main > section {
  margin: 2vh auto;
  padding: 1px 10%;
  min-height: calc(100vh - 4vh);
  border-radius: 2em;
  transition: box-shadow 0.6s;
}
body main > section#front {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main > section#stuff-i-like section {
  margin: 1em 0;
}
body main > section#about-me {
  padding-bottom: 2em;
}
body main > section#resume-sec h2,
body main > section#resume-sec h3 {
  border: none !important;
  margin: 5px auto 0;
  padding-bottom: 0;
}
body main > section#resume-sec p,
body main > section#resume-sec tr {
  line-height: 1.6;
}
body main > section#resume-sec em {
  font-style: normal;
  font-weight: bold;
}
body main > section#resume-sec #resume {
  border: solid;
  padding: 1.5em;
  margin-bottom: 3em;
}
body main > section#resume-sec #resume hr {
  height: 0;
  margin-top: -0.25em;
}
body main > section#resume-sec #resume table {
  width: 100%;
}
body main > section#resume-sec #resume td:nth-child(2) {
  font-size: 0.9em;
  text-align: right;
}
body main > section#resume-sec #resume td:nth-child(1) {
  text-align: left;
}
body main > section#resume-sec .download-resume {
  width: 1em;
  height: auto;
  bottom: -0.1em;
  position: relative;
}
body main > section#resume-sec .download-resume:hover {
  height: 1.25em;
  min-width: 1.25em;
  left: -0.125em;
  bottom: -0.125em;
  margin-top: -0.25em;
}
body main > section#resume-sec #activities ul {
  margin-left: 0.5em;
}
body main > section#resume-sec #honours li {
  font-style: italic;
}
body main > section#resume-sec #honours li li {
  font-weight: normal;
  font-size: 1rem;
  list-style: circle inside;
}
body main > section#resume-sec #honours > ul {
  margin-top: 0.3em;
  padding-left: 0;
}
body main > section#resume-sec li {
  line-height: 1.5;
}
body main > section#resume-sec .faux-h1 {
  font-size: 2em;
  line-height: 1;
  margin: 5px auto;
  font-weight: bold;
}
body main > section#resume-sec .resume-header {
  text-align: center;
  margin: 5px 0 15px;
}
body main > section#resume-sec div.contact {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body main > section#resume-sec div > a {
  flex: 0 1 10em;
}
body main > section#resume-sec .subheading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5;
}
body main > section#resume-sec .subheading > *:nth-child(2) {
  text-align: right;
}
body main > section#resume-sec .subheading h3 {
  margin: 8px 0 4px;
}
body section#socials,
body .color-switch {
  position: absolute;
  right: 0;
  top: -2.5em;
}
body section#socials {
  width: 10em;
  display: flex;
  justify-content: space-evenly;
}
body section#socials > a {
  border: none;
}
body section#socials > a > img {
  border-radius: 20%;
  filter: invert(100%);
  width: 2em;
}